@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #20242d;
    margin: 0;
    padding: 0;
}

.slick-slide > div{
    margin: 0 5px;
}


a.active li{
    color: #01eeff;
}

@media (max-width:640px) {
    a.active{
     
        color: #01eeff;
      
    
    }
  }


  